*{text-align: center;}
.bg-gray-800 {background-color: #009999;}
.text-3xl {color: white;
text-align: center;
margin-left: 10px;}
nav { text-align:center; margin-right: 10px;
padding-bottom: 10px;}
img {border-radius: 50%;
    position: relative;
margin: 20px;}
body {background-color: E5F4F4;}
ul{list-style-type: none;
padding: 0;}
ol{list-style-type: none;
padding: 0;}
h2 {color: #009999;}


